<%= form_for current_user.microposts.build(:parent_id => params[:parent_id]) do |f| %>

<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
  <%= f.hidden_field :parent_id %>
  <%= f.text_area :content %>
</div>
<div class="actions">
  <%= f.submit "Submit" %>
</div>
<% end %>

<div class="char_left">
<span id="count">140</span> character left.
</div>

<!-- TO BE REFACTORED -->
<%= javascript_tag do %>

$("#micropost_content").keypress(function(){
		    var value = 140 - $(this).val().length;
		    $("#count").text(value);
		    }).keypress();
$("#micropost_content").keyup(function(){
                    $("#micropost_content").keypress();
		    }).keyup();

<% end %>
