<%= form_for @micropost do |f| %>

<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
  <%= f.hidden_field :parent_id, { :value => params[:parent_id] } %>
  <%= f.text_area :content %>
</div>
<div class="actions">
  <%= f.submit "Submit" %>
</div>

<div class="char_left">
140 characters left.
</div>
<% end %>

<!-- Javascript to update the characters left in micropost content
May have to be refactored later. Seems not correct to have Javascript here. 
I think it should be in application.js -->
<%= javascript_tag do %>

$(document).ready(function(){

  $("#micropost_content").bind('keypress keydown keyup',function(){
    
    var count = 140 - $(this).val().length;
    if (count > 1) {
      $(".char_left").text(count.toString() + " characters left."); 
    }
    else {
      $(".char_left").text(count.toString() + " character left."); 
    }
   });
});


<% end %>
