<%= form_for micropost.replies.build(:in_reply_to_id => micropost) do |f| %>
<div class="field">
  <%= f.hidden_field :in_reply_to_id %>
  <%= f.text_area :content %>
</div>
<div class="action">
  <%= f.submit "Reply" %>
</div>
<% end %>


<!-- Javascript to show hide the reply form -->
<!-- Refactoring needed to have less script included -->
<%= javascript_tag do %>

$(document).ready(function() {
  $('#reply_to_<%= micropost.id %>').hide();

  $('#reply_<%= micropost.id %>').click(function(){
    $('#reply_to_<%= micropost.id %>').toggle();
  });
});

<% end %>
